* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.image {
    max-width: 100vw;
    max-height: 100vh;
}

body {
    background: #000;
    transition: background 2s ease-in;
}

body.inverted {
    background: #fafafa;
    transition-timing-function: ease-out;
}

#roger {
    fill: #ccc;
    transition: fill 1.6s ease-in;
    transition-delay: .3s;
}

.inverted #roger {
    fill: #111;
    transition-timing-function: ease-out;
}

#bone1 {
    animation-delay: .2s;
    transform-origin: center center;
}

#bone2 {
    animation-delay: .5s;
    transform-origin: center center;
}
